/* Estilos básicos como fuentes, colores y configuración general */
/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Estilos de cuerpo para usar una fuente personalizada */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F9F7F7; /* Color de fondo suave */
    color: #112D4E; /* Color de texto oscuro */
}

/* Estilos para listas generales */
ul {
    margin: 10px 0 20px 20px; /* Espaciado */
    color: #112D4E; /* Texto más oscuro */
}
li {
    list-style: square inside; /* Lista con viñetas cuadradas */
    transition: color 0.3s, transform 0.3s; /* Transiciones para efectos */
}
li:hover {
    color: #3F72AF; /* Cambia el color al de acento */
    transform: translateX(5px); /* Desplazamiento a la derecha */
}

/* Estiliza los párrafos dentro de las secciones */
section p {
    font-size: 1.1em; /* Tamaño de fuente para párrafos */
    line-height: 1.6; /* Altura de línea para mejorar legibilidad */
    margin-bottom: 20px; /* Espacio inferior entre párrafos */
}